<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Old Icelandic Dictionary</title>
    <meta name = "description" content = "Look up Old Icelandic words">
    <meta name = "keywords" content = "old icelandic, old north, translation, icelandic dictionary, Zoega dictionary, Cleasby dictionary">
    <link rel="shortcut icon" href= "{{ url_for('static', filename='pictures/favicon3.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="C:\Users\npiskunova\Desktop\Data Science\Анализ\Islandic\flask_app\static\css\style.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">>-->
  </head>

  <body>

    <div class = "bkg">

      <div class="login page_404">
          <br>  <br>
          <h2>Internal error.</h2>
          <p>Sorry, the service is temporarly unavailable. Please try again later.</p>
          <button onclick="location.href='https://oldic.ru'" type="button" class="btn btn-primary btn-block btn-large">BACK HOME</button>

      </div>
    </div>
</body>
</html>
