@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	width: 100%;
	height:100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Helvetica';
	background: #131A13 url("../pictures/is3.jpg") no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1.4px;
}

.bkg {
	background-color: rgba(0,0,0,.5);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}


.img_logo {
	width: 90px;
	height: 90px;
/*  min-width: 5%;
		height: auto;*/
	margin-top: 20px;
	position: absolute;
	box-shadow: 7px -7px 7px #ccc;
	border-radius: 10px;
}


.dict_block {
	position: absolute;
	width: 35%;
	height: 100%;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	}

.dict_respond {
	float: top;
	width: 100%;
	height: 30%;
	padding: 15px 10px 10px 15px;
	overflow-y: auto;
}

.zoega_respond {
	background: rgba(0,0,0,.7);
	}

.clisby_respond {
	background: rgba(34,68,7,.48);
	}

.rus_respond {
	background: rgba(11,22,2,.48);
	}

.recent_block {
	display: none;
	position: absolute;
	top: 33%;
	right: 5%;
	max-width: 20%;
	height: auto;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	background: rgba(11,22,2,.48);
	padding: 5px 10px 10px 15px;
	border: 1px solid #0C960C;
	border-radius: 10px;
	}

.q_block {
	width: 95%;
	background: rgba(11,22,2,.48);
	padding: 10px 10px 10px 10px;
	font-size: 14px;
	text-align: left;
	line-height: 2;
	}

.collapsible {
	margin-right: 30%;
	margin-bottom: 15px;
	color: #ffffff;
	cursor: pointer;
	padding: 10px;
	background-color: Transparent;
	width: 70%;
	border: 2px solid #ffffff;
	border-radius: 4px;
	text-align: center;
	outline: none;
	font-size: 14px;
}

.collapsible:hover {
	background-color: #0C960C;
	border-color: Transparent;
}

.hidden {
	display: none;
}


.login {
	position: absolute;
	top: 40%;
	/*top: 50%;*/
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 400px;
	height: 400px;
}

.login h1 {
	color: #fff;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing: 1px;
	text-align: center;
}


input {
	width: 95%;
	margin-top: 30px;
	/*margin-bottom: 10px;*/
	background: rgba(0,0,0,0.5);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #0C960C;
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}


input:focus {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.btn {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #0C960C;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #0C960C;
	border-color: #0C960C #0C960C #0C960C;
	border: 1px solid #0C960C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #097109;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #097109;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	background-color: #0C960C;
	border: 1px solid #0C960C;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	filter: none;
	background-color: #097109;
}

.btn-block {
	width: 100%;
	display: block;
	margin-top: 30px;
}

.btn-key {
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
	box-shadow: 3px -3px rgba(255, 255, 255, 0.2);
	color: #000000;
	text-align: center;
	padding: 5px;
	font-size: 16px;
}

.btn-key:hover {
	background-color: rgba(12, 150, 12, 0.8);
	color: #ffffff;
	text-shadow: none;
	box-shadow: 1px -1px  #0C960C;
}

a {
	color: #6107B5;
/*color: #460584;*/
}

b {
	text-decoration: underline;
}

i {
	color: #0C960C;
}

span {
	background-color: #0C960C;
	color: #ffffff;
}

footer {
	position: absolute;
	top: 85%;
	width: 100%;
	height: 20px;
	margin-top: 30px;
	margin-right: 100px;
	padding: 30px;
	font-size: 16px;
	color: #ffffff;
	text-align: right;
	background-color: rgba(0,0,0,.5);
}


@media (max-width: 1400px) {
	.login_result {
		left: 60%;
		width: 30%;
		height: 30%;
	}
}


@media (min-width: 768px) and (max-width: 968px) {
	.login h1 {
		font-size: 36px;
	}
	.login_result {
		left: 70%;
		width: 30%;
		height: 30%;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.login h1 {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.login_result {
		left: 75%;
		top: 50%;
		width: 30%;
		height: 30%;
		}

	input {
		width: 90%;
		margin-top: 20px;
		}

	.btn-key {
		width: 20px;
		height: 20px;
		font-size: 12px;
		padding: 2px;
		}

	.dict_respond h2 {
		font-size: 18px;
	}

	.collapsible {
		padding: 5px;
		font-size: 10px;
	}
}

@media (max-width: 480px) {
	.login {
		width: 300px;
		margin-top: -50px;
	}

	.login h1 {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.login_result {
		display: none;
		left: 80%;
		top: 30%;
		width: 45%;
		height: 30%;
		}

	input {
		width: 90%;
		margin-top: 20px;
		}

	.btn-key {
		width: 20px;
		height: 20px;
		font-size: 12px;
		padding: 2px;
		}

	.dict_block {
		width: 60%;
	}

	.dict_respond h2 {
		font-size: 18px;
	}

	.img_logo {
		left: 40%;
	}

	.logo_result {
		left: 70%;
	}
}
