<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Old Islandic Dictionary</title>
    <meta name = "description" content = "Look up Old Islandic words">
    <meta name = "keywords" content = "old islandic, old north, translation, islandic dictionary, Zoega dictionary, Cleasby dictionary">
      <link rel="shortcut icon" href= "{{ url_for('static', filename='pictures/favicon3.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <div class = "bkg">

      <div class="login page_404">
	        <h1>404</h1>
          <h2>Page not found.</h2>
          <p>Sorry, the page does not exist, have been removed or renamed.</p>
          <button onclick="location.href='https://oldic.ru'" type="button" class="btn btn-primary btn-block btn-large">BACK HOME</button>

      </div>
    </div>
</body>
</html>
